@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather&family=Orbit&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sintony:wght@400;700&family=Work+Sans&display=swap");

#userBoard {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.user {
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.user-selected {
  font-family: "Archivo Black", sans-serif;
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(198, 65, 0, 0) 0%,
    #c64100 30%,
    #c64100 70%,
    rgba(198, 65, 0, 0) 100%
  );
  width: 100%;
  border-radius: 0.5rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.points {
  background-color: #fff;
  color: #005fae;
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  margin: 0 auto;
  height: 3rem;
  width: 12rem;
  border: 0.1rem solid #fff;
}

#users {
  display: flex;
  justify-content: center;
}

#users button {
  background-color: #005fae;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

#users button:hover {
  background-color: #1e7ed6;
}
